{
  "Version": "2.0",
  "displayStartupMessage": true,
  "LastModifiedDate": "1/27/25",
  "AgeSetting": 90,
  "ThrottleLimit": 50,
  "ClientsPath": "C:\\Users\\_user_\\OneDrive\\Desktop\\Clients.txt",
  "LogPath": "C:\\Users\\_user_\\OneDrive\\Desktop\\Log.txt",
  "SkipProfiles": [
    "Administrator",
    "Public",
    "Generic_Admin",
    "$svc.Account1",
    "$svc.Account2",
    "$svc.Account3",
    "$svc.Account4",
    "NewProfile"
  ]
}